@page "/requestinbox"
@using ERP_StudentRequests.Core.DTOs.Response;
@inject NavigationManager NavigationManager

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<MudContainer>

    <div class="title-content" style="margin: 40px;margin-left:300px; text-align:center;">
        <h1 style="color:darkblue; font-weight:500; font-size:35px">Requests</h1>
        <div style="border-bottom: 2px solid darkblue; margin-top: 10px; width: 100%;"></div>
    </div>


 <!-- Search bar -->
    <div class="search-container">

        <div style="padding-right:20px; width: 50%">
            <MudTextField @bind-Value="searchTerm" Label="Search by keywords" Variant="Variant.Outlined"></MudTextField>
        </div>

        <div style="padding-right: 20px;width: 40%">
            <MudSelect Margin="Margin.Dense" T="string" Label="Filter by" Variant="Variant.Outlined" @bind-Value="searchCriteria">
                <MudSelectItem Value="@("All")" />
                <MudSelectItem Value="@("Keywords")" />
                <MudSelectItem Value="@("Lecturer")" />
                <MudSelectItem Value="@("Topic")" />
                <MudSelectItem Value="@("RequestType")" />
            </MudSelect>
        </div>
        <MudButton @onclick="SearchMessages" Variant="Variant.Filled" Color="Color.Primary" Style="border-radius: 10px; padding: 10px 20px; background-color: {{Colors.DeepPurple.Accent3}}; color: white;">Search</MudButton>
    </div>


@*     <div class="request-container">
        <div class="request-messages">
            @foreach (var _request in FilteredMessages.OrderByDescending(m => m.Topic))
            {
                <div class="message received">

                    <MudCard Class="@($"bg-{GetStripeColor(_request.RequestType.ToLower())}-light")">
                        <MudCardContent>
                            <!-- Display RequestType above MudCard -->
                            <div class="announcement-type">
                                <span>@_request.RequestType</span>
                            </div>
                            <div class="message-info">
                                <span>Topic: @_request.Topic</span>
                            </div>
                            <div>@_request.Message</div>
                            <div class="message-info" style="margin-top: 10px;">
                                <!-- Added margin-top here -->
                                <span>@_request.LecturerName</span>
                               @*  <span>@_request.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</span> *@
@*                             </div>
                        </MudCardContent>
                    </MudCard>
                </div>
            }
        </div>
    </div> *@


    <!-- List -->
    <div class="request-container">
        <div class="request-messages">
            @foreach (var request in FilteredMessages.OrderByDescending(m => m.AddedDate))
            {
                <div class="message received" @onclick="() => NavigateToRequestDetails(request.RequestId)">
                    <MudCard Class="bg-light">
                        <MudCardContent>
                            <div class="request-type">
                                <span>@request.RequestType</span>
                            </div>
                            <div>
                                <span>@request.Topic</span>
                            </div>
@*                             <div>@request.Message</div> *@
                            <div class="message-info" style="margin-top: 10px;">
                                <span>@request.LecturerName</span>
                            </div>
                            <div class="message-info">
                                <span>@request.AddedDate</span>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </div>
            }
        </div>
    </div>


</MudContainer>




@code {

    private HttpClient Http = new HttpClient();

    private List<GetReqLetterResponse> _requests = new List<GetReqLetterResponse>();

    private string searchTerm = "";
    private string searchCriteria = "All";

    List<GetReqLetterResponse> FilteredMessages = new List<GetReqLetterResponse>();

    // private string GetStripeColor(string requestType)
    // {
    //     string color = "grey";

    //     switch (requestType.ToLower())
    //     {
    //         case "general":
    //             color = "blue";
    //             break;
    //         case "cancelling":
    //             color = "green";
    //             break;
    //         case "reschedulling":
    //             color = "pink";
    //             break;
    //         case "excuse":
    //             color = "lavender";
    //             break;
    //     }

    //     return color;
    // }



    // [Parameter]
    // public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _requests = await Http.GetFromJsonAsync<List<GetReqLetterResponse>>("https://localhost:7011/api/Requests/Students/Requests");
            FilteredMessages = _requests;

        }
        catch (Exception ex)
        {
            _requests = null;
            Console.WriteLine(ex.Message);
        }

    }

    private void SearchMessages()
    {
        if (string.IsNullOrEmpty(searchTerm))
        {
            FilteredMessages = _requests;
            return;
        }

        switch (searchCriteria)
        {
            case "Keywords":
                FilteredMessages = _requests.Where(m => m.Message.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
                break;
            case "LecturerName":
                FilteredMessages = _requests.Where(m => m.LecturerName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
                break;
            case "Topic":
                FilteredMessages = _requests.Where(m => m.Topic.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
                break;
            case "RequestType":
                FilteredMessages = _requests.Where(m => m.RequestType.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
                break;
            default:
                FilteredMessages = _requests;
                break;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        //_students = (await ViewStudentsByNameUseCase.ExecuteAsync(SearchTerm)).ToList();
    }


    void NavigateToRequestDetails(Guid requestId)
    {
        NavigationManager.NavigateTo($"/requestdetails/{requestId}");
    }
}



<style>

    .title-content {
        max-width: 60%;
        padding: 0 20px;
    }

    .bg-blue-light {
        background-color: transparent;
        background-image: linear-gradient(to right, transparent 30%, lightblue);
    }

    .bg-green-light {
        background-color: transparent;
        background-image: linear-gradient(to right, transparent 30%, palegreen);
    }

    .bg-pink-light {
        background-color: transparent;
        background-image: linear-gradient(to right, transparent 5%, lavenderblush);
    }

    .bg-lavender-light {
        background-color: transparent;
        background-image: linear-gradient(to right, transparent 40%, lavender);
    }

    .bg-grey-light {
        background-color: transparent;
        background-image: linear-gradient(to right, transparent 40%, lightgrey);
    }


    body {
        position: relative;
        margin: 0;
        padding: 0;
        min-height: 100vh; /* Ensure body covers the entire viewport height */
        background-image: url('images/4.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.9); /* Light grey color with 50% opacity */
            z-index: -1;
        }

    .heading {
        text-align: center;
        padding: 20px;
    }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

        .search-container input[type="text"] {
            margin-right: 10px;
        }

        .search-container button {
            margin-left: 10px;
        }

    .chat-container {
        width: 100%;
    }

    .chat-messages {
        overflow-y: auto;
        padding: 10px;
        align-items:center;
        overflow-y: auto;
        padding: 10px;
    }

    .message {
        margin-bottom: 10px;
    }

    .message-content {
        padding: 8px 12px;
        border-radius: 8px;
        max-width: 80%;
        word-wrap: break-word;
    }

    .message-info {
        display: flex;
        justify-content: space-between;
        color: #666;
        font-size: 0.8rem;
        margin-bottom: 5px;
    }

    .request-type {
        text-align: center;
        margin-bottom: 10px;
        font-weight: bold;
    }
</style>